/* ZEROING */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
a {
  text-decoration: none;
  color: #ff6681;
}

html,
body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
  background-color: #6a5ae0;
}

.wrapper {
  max-width: 430px;
  min-width: 320px;
  margin: 0 auto;
  padding: 32px 16px 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #6a5ae0;
}

/* ELEMENTS ====================================== */

.text {
  font-weight: bold;
  color: black;
}

.input {
  width: 100%;
  background-color: #efeefc;
  border: solid 2px;
  border-color: #bfd2f2;
  border-radius: 16px;
  padding: 8px;
  font-size: inherit;
  font-family: inherit;
  text-align: left;
}

.button {
  padding: 8px 0;
  width: 100%;
  padding: 8px;
  border-radius: 16px;
  font-family: inherit;
  font-size: 24px;
  color: white;
  background-color: #6a5ae0;
}

.list {
  list-style-position: inside;
  line-height: 1.2;
  font-weight: bold;
  color: black;
}

.spoiler {
  padding: 8px;
  width: 100%;
  border: solid #e5e2fa;
  border-radius: 16px;
}

.spoiler > .button {
  margin-top: 16px;
}

.spoiler__button-red {
  background-color: #ff6681;
  color: black;
}

.spoiler__summary {
  text-align: center;
  color: #6a5ae0;
}

.hidden {
  display: none;
}

/* HEADER ===================================== */

.header {
  margin-bottom: 32px;
  padding: 0 16px;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

/* MAIN ====================================== */

.main {
  padding: 32px 16px 16px;
  overflow: hidden;
  border-radius: 16px;
  background-color: #ffffff;
}

/* PLAYERS ==================================== */

.players > * {
  margin-bottom: 16px;
}

.players > *:first-child {
  margin-bottom: 32px;
}

.players > *:last-child {
  margin-bottom: 0;
}

.players__text-red {
  color: #ff6681;
}

/* TEAMS ====================================== */

.teams > * {
  margin-bottom: 16px;
}

.teams > *:last-child {
  margin-bottom: 0;
}

.teams__text-big {
  border-bottom: solid 2px;
  border-color: #bfd2f2;
  font-size: 32px;
}
